{% extends 'Basestudy.html' %}
{% block content %}
 <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to StarLdy Ecommerce</p>
                </div>
            </div>
        </header>
        <div class='container'>
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<p align="justify">
        					Star lady beauty shop is a family-owned business that serves high-end beauty products. It is located in Kajiado County, Kitengela. Star Lady has been operational since 2021 and we provide products
for face, hair, body and skin care.
<br /><br />
Although every product we sell is customized to suit your taste, there are a few items that no client can live without. Our Body Lotions are always a hit at exclusive events and canape parties. We offer a magnificent face scrub Wellington for those seeking sophistication and comfort face care products. Of course, no one can resist our freshly scented perfumes. No matter what type of product you’re looking for, our flexible options will cater to everyone.<br /><br />
Star lady beauty shop is a family-owned business that serves high-end beauty products. It is located in Kajiado County, Kitengela. Star Lady has been operational since 2021 and we provide products
for face, hair, body and skin care.<br /><br />
Although every product we sell is customized to suit your taste, there are a few items that no client can live without. Our Body Lotions are always a hit at exclusive events and canape parties. We offer a magnificent face scrub Wellington for those seeking sophistication and comfort face care products. Of course, no one can resist our freshly scented perfumes. No matter what type of product you’re looking for, our flexible options will cater to everyone

Star lady beauty shop is a family-owned business that serves high-end beauty products. It is located in Kajiado County, Kitengela. Star Lady has been operational since 2021 and we provide products
for face, hair, body and skin care.<br /><br />
</p>
</div></center></div>
{% endblock %}